* {
  margin: 0;
  padding: 0;
  font-family: 'Charis SIL', serif;
}

.in_fom {
  position: relative;
}

.input_text {
  outline: none;
  border: 2px solid red;
  border-radius: 5px;
  padding: 8px;
  background: none;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}


.form_label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  font-size: 18px;
  color: red;
  transition: 0.3s;
}

.in_fom .input_text:focus~.form_label,
.in_fom .input_text:valid~.form_label {
  padding: 0 8px;
  /* top: -19px;
  left: 12px; */
  background: #8e9eab;
  transform: translateX(10px) translateY(-19px)
}

.in_fom .input_text:focus {
  border: 1px solid green;
}

.in_fom .input_text:invalid {
  border: 1px solid rgb(254, 222, 11);
}